[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "xegaSelectGene"]
	path = xegaSelectGene
	url = https://github.com/ageyerschulz/xegaselectgene
